.container {
    display: flex;
    justify-content: center;
}

#panel {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 30px;
}

#grid {
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1 0 0;
    display: flex;
}

.square {
    flex: 1 1 0;
    border: 1px solid black;
    border-collapse: collapse;
}

.colored {
    background-color: black;;
}