.container {
    display: flex;
    justify-content: center;
}

#panel {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 30px;
    gap: 20px;
}

#toggles {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#toggles button{
    width: 200px;
    height: 24px;
    text-align: center;
    border: 3px solid rgb(36, 154, 190);
    border-radius: 16px;
}

#grid {
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1 0 0;
    display: flex;
}

.square {
    flex: 1 1 0;
    border: 1px solid black;
    border-collapse: collapse;
}

.colored {
    background-color: black;;
}

.selected-toggle {
    color: white;
    background-color: black;
}